<app-navbar (onSearchChange)="findArtists($event)"></app-navbar>
<div class="container">
  <img src="/assets/images/loading.gif" class="img-fluid" *ngIf="isLoading"/>

  <div class="alert alert-danger" role="alert" *ngIf="searchTerm && !artists.length && !isLoading">
    No artists found for the the term "{{ searchTerm }}"
  </div>

  <div class="row" *ngIf="artists.length">
    <a class="col-md-4 mb-2" *ngFor="let artist of artists" routerLink="/artists/{{ artist.id }}">
      <div class="card">
        <img [src]="artist.picture_medium" class="card-img-top" [alt]="artist.name">
        <div class="card-body">
          <h5 class="card-title">{{ artist.name }}</h5>
          <p class="card-text">{{ artist.nb_fan | artistFanCount }}</p>
          <span class="d-none d-md-block">{{ artist.nb_album }} album{{ artist.nb_album === 1 ? '' : 's'}}</span>
        </div>
      </div>
    </a>
  </div>
</div>
