<app-navbar (onSearchChange)="goBack()"></app-navbar>
<div class="container">
  <img src="/assets/images/loading.gif" class="img-fluid" *ngIf="isLoading"/>
  <ng-container *ngIf="artist">
    <div class="row">
      <div class="col-md-8 mt-3" >
        <div class="user-details" style="background-image: url({{ artist.picture_xl }})">
          <div class="shed text-white d-none d-md-block">
            <div class="row">
              <div class="col-md-7 d-flex flex-column justify-content-center align-items-center">
                <h1>{{ artist.name }}</h1>
                <h5>{{ artist.nb_fan | artistFanCount }}</h5>
              </div>
              <div class="col-md-5 d-none d-md-flex justify-content-center align-items-center">
                <img [src]="artist.picture" class="img-thumbnail"/>
              </div>
            </div>
          </div>
        </div>

        <div class="small-device">
          <img [src]="artist.picture_xl" [alt]="artist.name" class="img-fluid img-thumbnail"/>
          <h1>{{ artist.name }}</h1>
          <h5>{{ artist.nb_fan | artistFanCount }}</h5>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Top tracks</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let track of tracks; let i = index">
              <span>
                <b>{{ i + 1 }}.</b> {{ track.title_short }}
              </span>
              <span class="badge badge-primary badge-pill">{{ track.duration | trackDuration }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3 mb-2" *ngFor="let album of albums">
        <div class="card">
          <img [src]="album.cover_big" class="card-img-top" [alt]="album.title">
          <div class="card-body">
            <h5 class="card-title">{{ album.title }}</h5>
            <p class="card-text">{{ album.release_date | albumYear }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
