.user-details {
  background-size: cover;
}

.user-details .shed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 49, 35, 0.81);
}
.user-details .shed .row,
.user-details .shed .row > div{
  height: 100%;
}
